{% load i18n %}

<div class="dropdown text-center mb-3" >
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      language
    </button>
    <ul name="language" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
      <a href="/{{ language.code }}">
       <li  class="dropdown-item" >
          {{ language.name_local }}     
         
          
        </li>
    </a>
      {% endfor %}
    <ul/>
  </div>