{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Leave Apply by Staffs
{% endblock page_title %}

{% block main_content %}
{% load i18n %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{% blocktrans %}Leave Apply by Staffs{% endblocktrans %}</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>{% blocktrans %}Staff ID{% endblocktrans %}</th>
                                    <th>{% blocktrans %}Staff Name{% endblocktrans %}</th>
                                    <th>{% blocktrans %}Leave Date{% endblocktrans %}</th>
                                    <th>{% blocktrans %}Leave Message{% endblocktrans %}</th>
                                    <th>{% blocktrans %}Applied On{% endblocktrans %}</th>
                                    <th>{% blocktrans %}Action{% endblocktrans %}</th>
                                </tr>
                                </thead>

                                {% for leave in leaves %}
                                <tbody>
                                <tr>
                                    <td>{{ leave.id }}</td>
                                    <td>{{ leave.staff_id.admin.id }}</td>
                                    <td>{{ leave.staff_id.admin.first_name }} {{ feedback.staff_id.admin.last_name }}</td> 
                                    <td>{{ leave.leave_date }}</td>
                                    <td>{{ leave.leave_message }}</td>
                                    <td>{{ leave.created_at }}</td>
                                    <td>
                                        {% if leave.leave_status == 0 %}
                                            <a href="{% url 'staff_leave_approve' leave_id=leave.id %}" class="btn btn-success">{% blocktrans %}Approve{% endblocktrans %}</a>
                                            <a href="{% url 'staff_leave_reject' leave_id=leave.id %}" class="btn btn-danger">{% blocktrans %}Reject{% endblocktrans %}</a>
                                        {% elif leave.leave_status == 1 %}
                                            <button class="btn btn-warning" disabled="disabled">{% blocktrans %}Approved{% endblocktrans %}</button>
                                        {% else %}
                                            <button class="btn btn-danger" disabled="disabled">{% blocktrans %}Rejected{% endblocktrans %}</button>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>



  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}

  {% endblock custom_js %}